<a href="https://colab.research.google.com/github/abhishekCS0024/React_Flask_ML/blob/main/React_App.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("fedesoriano/stroke-prediction-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'stroke-prediction-dataset' dataset.
Path to dataset files: /kaggle/input/stroke-prediction-dataset

In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [57]:
import os
print(os.listdir(path))

['healthcare-dataset-stroke-data.csv']

In [58]:
df = pd.read_csv(f"{path}/healthcare-dataset-stroke-data.csv")

In [59]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [60]:
df.drop('id',axis='columns',inplace=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [62]:
df.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [63]:

def print_unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [64]:
df1=df

In [65]:
print_unique_col_values(df1)

gender: ['Male' 'Female' 'Other']
ever_married: ['Yes' 'No']
work_type: ['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
Residence_type: ['Urban' 'Rural']
smoking_status: ['formerly smoked' 'never smoked' 'smokes' 'Unknown']

In [66]:
# here we apply binary & one hot encoding for encoding of categorical data to numeric
df1['ever_married'] = df1['ever_married'].apply(lambda x: 1 if x == 'Yes' else 0)
df1['Residence_type'] = df1['Residence_type'].apply(lambda x: 1 if x == 'Urban' else 0)

In [67]:
df2=df1

In [68]:

# df2 = pd.get_dummies(data=df, columns=['gender','work_type','smoking_status'])
df2 = pd.get_dummies(data=df, columns=['gender','work_type','smoking_status'], dtype=int)

df2.columns

Index(['age', 'hypertension', 'heart_disease', 'ever_married',
       'Residence_type', 'avg_glucose_level', 'bmi', 'stroke', 'gender_Female',
       'gender_Male', 'gender_Other', 'work_type_Govt_job',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes'],
      dtype='object')

In [69]:
for i in df2.columns:
  if(df2[i].dtypes!=bool):
    print(i)

age
hypertension
heart_disease
ever_married
Residence_type
avg_glucose_level
bmi
stroke
gender_Female
gender_Male
gender_Other
work_type_Govt_job
work_type_Never_worked
work_type_Private
work_type_Self-employed
work_type_children
smoking_status_Unknown
smoking_status_formerly smoked
smoking_status_never smoked
smoking_status_smokes

In [70]:
df2.dtypes

age                               float64
hypertension                        int64
heart_disease                       int64
ever_married                        int64
Residence_type                      int64
avg_glucose_level                 float64
bmi                               float64
stroke                              int64
gender_Female                       int64
gender_Male                         int64
gender_Other                        int64
work_type_Govt_job                  int64
work_type_Never_worked              int64
work_type_Private                   int64
work_type_Self-employed             int64
work_type_children                  int64
smoking_status_Unknown              int64
smoking_status_formerly smoked      int64
smoking_status_never smoked         int64
smoking_status_smokes               int64
dtype: object

In [71]:

cols_to_scale = ['age',

'avg_glucose_level',
'bmi',]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df2[cols_to_scale] = scaler.fit_transform(df2[cols_to_scale])

In [72]:
df2.dtypes

age                               float64
hypertension                        int64
heart_disease                       int64
ever_married                        int64
Residence_type                      int64
avg_glucose_level                 float64
bmi                               float64
stroke                              int64
gender_Female                       int64
gender_Male                         int64
gender_Other                        int64
work_type_Govt_job                  int64
work_type_Never_worked              int64
work_type_Private                   int64
work_type_Self-employed             int64
work_type_children                  int64
smoking_status_Unknown              int64
smoking_status_formerly smoked      int64
smoking_status_never smoked         int64
smoking_status_smokes               int64
dtype: object

In [73]:
df2.head(3)

,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.816895,0,1,1,1,0.801265,0.301260,1,0,1,0,0,0,1,0,0,0,1,0,0
1,0.743652,0,0,1,0,0.679023,NaN,1,1,0,0,0,0,0,1,0,0,0,1,0
2,0.975586,0,1,1,0,0.234512,0.254296,1,0,1,0,0,0,1,0,0,0,0,1,0

In [74]:
df2.isnull().sum()

age                                 0
hypertension                        0
heart_disease                       0
ever_married                        0
Residence_type                      0
avg_glucose_level                   0
bmi                               201
stroke                              0
gender_Female                       0
gender_Male                         0
gender_Other                        0
work_type_Govt_job                  0
work_type_Never_worked              0
work_type_Private                   0
work_type_Self-employed             0
work_type_children                  0
smoking_status_Unknown              0
smoking_status_formerly smoked      0
smoking_status_never smoked         0
smoking_status_smokes               0
dtype: int64

In [75]:
df2.shape

(5110, 20)

In [76]:
df2['bmi']=df2['bmi'].fillna(df2['bmi']mean())

,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.816895,0,1,1,1,0.801265,0.301260,1,0,1,0,0,0,1,0,0,0,1,0,0
1,0.743652,0,0,1,0,0.679023,0.212981,1,1,0,0,0,0,0,1,0,0,0,1,0
2,0.975586,0,1,1,0,0.234512,0.254296,1,0,1,0,0,0,1,0,0,0,0,1,0

In [77]:
df2.isnull().sum()

age                               0
hypertension                      0
heart_disease                     0
ever_married                      0
Residence_type                    0
avg_glucose_level                 0
bmi                               0
stroke                            0
gender_Female                     0
gender_Male                       0
gender_Other                      0
work_type_Govt_job                0
work_type_Never_worked            0
work_type_Private                 0
work_type_Self-employed           0
work_type_children                0
smoking_status_Unknown            0
smoking_status_formerly smoked    0
smoking_status_never smoked       0
smoking_status_smokes             0
dtype: int64

In [78]:

X = df2.drop('stroke',axis='columns')
y = df2['stroke']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [79]:
df2.shape

(5110, 20)

In [82]:
import tensorflow as tf
from tensorflow import keras

model=keras.Sequential([
    keras.layers.Dense(10,input_shape=(12,),activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [83]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
128/128  4s 10ms/step - accuracy: 0.9546 - loss: 0.4704
Epoch 2/100
128/128  0s 3ms/step - accuracy: 0.9544 - loss: 0.2003
Epoch 3/100
128/128  1s 4ms/step - accuracy: 0.9554 - loss: 0.1847
Epoch 4/100
128/128  1s 4ms/step - accuracy: 0.9561 - loss: 0.1754
Epoch 5/100
128/128  0s 3ms/step - accuracy: 0.9526 - loss: 0.1820
Epoch 6/100
128/128  0s 4ms/step - accuracy: 0.9537 - loss: 0.1758
Epoch 7/100
128/128  0s 3ms/step - accuracy: 0.9536 - loss: 0.1716
Epoch 8/100
128/128  1s 4ms/step - accuracy: 0.9566 - loss: 0.1591
Epoch 9/100
128/128  0s 3ms/step - accuracy: 0.9551 - loss: 0.1623
Epoch 10/100
128/128  0s 2ms/step - accuracy: 0.9460 - loss: 0.1794
Epoch 11/100
128/128  0s 2ms/step - accuracy: 0.9554 - loss: 0.1599
Epoch 12/100
128/128  0s 2ms/step - accuracy: 0.9527 - loss: 0.1645
Epoch 13/100
128/128  0s 2ms/step - accuracy: 0.9547 - loss: 0.1578
Epoch 14/100
128/128  0s 2ms/step - accuracy: 0.9546 - loss: 0.1605
Epoch 15/100
128/128  0s 2ms/step - accuracy: 0.9572 - loss: 0.1492
Epoch 16/100
128/128  0s 2ms/step - accuracy: 0.9543 - loss: 0.1539
Epoch 17/100
128/128  0s 2ms/step - accuracy: 0.9489 - loss: 0.1766
Epoch 18/100
128/128  0s 2ms/step - accuracy: 0.9536 - loss: 0.1596
Epoch 19/100
128/128  0s 2ms/step - accuracy: 0.9466 - loss: 0.1714
Epoch 20/100
128/128  0s 2ms/step - accuracy: 0.9487 - loss: 0.1621
Epoch 21/100
128/128  0s 2ms/step - accuracy: 0.9498 - loss: 0.1565
Epoch 22/100
128/128  0s 2ms/step - accuracy: 0.9464 - loss: 0.1709
Epoch 23/100
128/128  0s 2ms/step - accuracy: 0.9513 - loss: 0.1613
Epoch 24/100
128/128  0s 2ms/step - accuracy: 0.9523 - loss: 0.1527
Epoch 25/100
128/128  1s 2ms/step - accuracy: 0.9613 - loss: 0.1333
Epoch 26/100
128/128  0s 2ms/step - accuracy: 0.9502 - loss: 0.1577
Epoch 27/100
128/128  0s 2ms/step - accuracy: 0.9484 - loss: 0.1625
Epoch 28/100
128/128  0s 2ms/step - accuracy: 0.9514 - loss: 0.1612
Epoch 29/100
128/128  0s 2ms/step - accuracy: 0.9491 - loss: 0.1519
Epoch 30/100
128/128  0s 2ms/step - accuracy: 0.9562 - loss: 0.1445
Epoch 31/100
128/128  0s 2ms/step - accuracy: 0.9561 - loss: 0.1413
Epoch 32/100
128/128  0s 2ms/step - accuracy: 0.9511 - loss: 0.1569
Epoch 33/100
128/128  0s 3ms/step - accuracy: 0.9573 - loss: 0.1429
Epoch 34/100
128/128  0s 3ms/step - accuracy: 0.9526 - loss: 0.1513
Epoch 35/100
128/128  0s 3ms/step - accuracy: 0.9530 - loss: 0.1459
Epoch 36/100
128/128  0s 4ms/step - accuracy: 0.9505 - loss: 0.1543
Epoch 37/100
128/128  0s 4ms/step - accuracy: 0.9528 - loss: 0.1446
Epoch 38/100
128/128  0s 2ms/step - accuracy: 0.9499 - loss: 0.1538
Epoch 39/100
128/128  0s 2ms/step - accuracy: 0.9503 - loss: 0.1602
Epoch 40/100
128/128  0s 2ms/step - accuracy: 0.9554 - loss: 0.1359
Epoch 41/100
128/128  1s 2ms/step - accuracy: 0.9523 - loss: 0.1471
Epoch 42/100
128/128  0s 2ms/step - accuracy: 0.9528 - loss: 0.1427
Epoch 43/100
128/128  0s 2ms/step - accuracy: 0.9573 - loss: 0.1401
Epoch 44/100
128/128  0s 2ms/step - accuracy: 0.9528 - loss: 0.1455
Epoch 45/100
128/128  0s 2ms/step - accuracy: 0.9498 - loss: 0.1454
Epoch 46/100
128/128  0s 2ms/step - accuracy: 0.9502 - loss: 0.1493
Epoch 47/100
128/128  0s 2ms/step - accuracy: 0.9528 - loss: 0.1485
Epoch 48/100
128/128  0s 2ms/step - accuracy: 0.9522 - loss: 0.1442
Epoch 49/100
128/128  0s 2ms/step - accuracy: 0.9494 - loss: 0.1576
Epoch 50/100
128/128  0s 2ms/step - accuracy: 0.9531 - loss: 0.1349
Epoch 51/100
128/128  0s 2ms/step - accuracy: 0.9507 - loss: 0.1555
Epoch 52/100
128/128  0s 2ms/step - accuracy: 0.9506 - loss: 0.1528
Epoch 53/100
128/128  0s 2ms/step - accuracy: 0.9496 - loss: 0.1496
Epoch 54/100
128/128  0s 2ms/step - accuracy: 0.9517 - loss: 0.1435
Epoch 55/100
128/128  0s 2ms/step - accuracy: 0.9539 - loss: 0.1393
Epoch 56/100
128/128  0s 2ms/step - accuracy: 0.9499 - loss: 0.1529
Epoch 57/100
128/128  0s 2ms/step - accuracy: 0.9505 - loss: 0.1538
Epoch 58/100
128/128  0s 2ms/step - accuracy: 0.9504 - loss: 0.1476
Epoch 59/100
128/128  0s 2ms/step - accuracy: 0.9512 - loss: 0.1475
Epoch 60/100
128/128  0s 2ms/step - accuracy: 0.9455 - loss: 0.1614
Epoch 61/100
128/128  0s 2ms/step - accuracy: 0.9507 - loss: 0.1483
Epoch 62/100
128/128  0s 2ms/step - accuracy: 0.9502 - loss: 0.1488
Epoch 63/100
128/128  0s 2ms/step - accuracy: 0.9570 - loss: 0.1310
Epoch 64/100
128/128  0s 2ms/step - accuracy: 0.9510 - loss: 0.1513
Epoch 65/100
128/128  0s 2ms/step - accuracy: 0.9542 - loss: 0.1381
Epoch 66/100
128/128  0s 2ms/step - accuracy: 0.9508 - loss: 0.1488
Epoch 67/100
128/128  0s 2ms/step - accuracy: 0.9522 - loss: 0.1401
Epoch 68/100
128/128  0s 3ms/step - accuracy: 0.9567 - loss: 0.1323
Epoch 69/100
128/128  0s 3ms/step - accuracy: 0.9541 - loss: 0.1435
Epoch 70/100
128/128  0s 4ms/step - accuracy: 0.9458 - loss: 0.1518
Epoch 71/100
128/128  0s 3ms/step - accuracy: 0.9516 - loss: 0.1411
Epoch 72/100
128/128  0s 4ms/step - accuracy: 0.9509 - loss: 0.1444
Epoch 73/100
128/128  0s 3ms/step - accuracy: 0.9541 - loss: 0.1415
Epoch 74/100
128/128  0s 2ms/step - accuracy: 0.9507 - loss: 0.1468
Epoch 75/100
128/128  0s 2ms/step - accuracy: 0.9549 - loss: 0.1348
Epoch 76/100
128/128  0s 2ms/step - accuracy: 0.9534 - loss: 0.1386
Epoch 77/100
128/128  0s 2ms/step - accuracy: 0.9451 - loss: 0.1570
Epoch 78/100
128/128  0s 2ms/step - accuracy: 0.9554 - loss: 0.1355
Epoch 79/100
128/128  0s 2ms/step - accuracy: 0.9508 - loss: 0.1505
Epoch 80/100
128/128  0s 3ms/step - accuracy: 0.9532 - loss: 0.1412
Epoch 81/100
128/128  0s 2ms/step - accuracy: 0.9419 - loss: 0.1640
Epoch 82/100
128/128  0s 2ms/step - accuracy: 0.9506 - loss: 0.1577
Epoch 83/100
128/128  0s 2ms/step - accuracy: 0.9523 - loss: 0.1467
Epoch 84/100
128/128  0s 2ms/step - accuracy: 0.9535 - loss: 0.1401
Epoch 85/100
128/128  0s 2ms/step - accuracy: 0.9520 - loss: 0.1448
Epoch 86/100
128/128  0s 2ms/step - accuracy: 0.9457 - loss: 0.1563
Epoch 87/100
128/128  1s 2ms/step - accuracy: 0.9558 - loss: 0.1405
Epoch 88/100
128/128  1s 2ms/step - accuracy: 0.9532 - loss: 0.1482
Epoch 89/100
128/128  0s 2ms/step - accuracy: 0.9570 - loss: 0.1331
Epoch 90/100
128/128  0s 2ms/step - accuracy: 0.9559 - loss: 0.1326
Epoch 91/100
128/128  0s 2ms/step - accuracy: 0.9531 - loss: 0.1450
Epoch 92/100
128/128  0s 2ms/step - accuracy: 0.9508 - loss: 0.1500
Epoch 93/100
128/128  0s 2ms/step - accuracy: 0.9531 - loss: 0.1397
Epoch 94/100
128/128  0s 2ms/step - accuracy: 0.9521 - loss: 0.1378
Epoch 95/100
128/128  0s 2ms/step - accuracy: 0.9527 - loss: 0.1460
Epoch 96/100
128/128  0s 2ms/step - accuracy: 0.9514 - loss: 0.1395
Epoch 97/100
128/128  0s 2ms/step - accuracy: 0.9556 - loss: 0.1354
Epoch 98/100
128/128  0s 2ms/step - accuracy: 0.9496 - loss: 0.1469
Epoch 99/100
128/128  0s 2ms/step - accuracy: 0.9546 - loss: 0.1378
Epoch 100/100
128/128  0s 2ms/step - accuracy: 0.9494 - loss: 0.1525

In [84]:
model.evaluate(X_test, y_test)

32/32  1s 12ms/step - accuracy: 0.9558 - loss: 0.1534

[0.17500923573970795, 0.9491193890571594]

In [85]:
yp = model.predict(X_test)
yp[:5]

32/32  1s 10ms/step

array([[0.06954449],
       [0.04282034],
       [0.04066001],
       [0.19131586],
       [0.08435255]], dtype=float32)

In [86]:

y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)